Repository ianwdunlop/ci-cd-versioning: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-common-master, release-common, release-golang, release-scala, release-python, release-node

build-common-master:
  stage: build-common
  script:
  - docker build --pull -f common/Dockerfile -t "$CI_REGISTRY_IMAGE:common" .
  - docker push "$CI_REGISTRY_IMAGE:common"

release-common:
  stage: release
  image: ubuntu:18.04
  before_script:
  - ''
  script:
  - ./release.sh common

release-golang:
  stage: release
  image: ubuntu:18.04
  before_script:
  - ''
  script:
  - ./release.sh golang

release-scala:
  stage: release
  image: ubuntu:18.04
  before_script:
  - ''
  script:
  - ./release.sh scala

release-python:
  stage: release
  image: ubuntu:18.04
  before_script:
  - ''
  script:
  - ./release.sh python

release-node:
  stage: release
  image: ubuntu:18.04
  before_script:
  - ''
  script:
  - ./release.sh node

Install pipenv.
  python/Dockerfile
Due: release-python

Update apt before installing tools.
  python/Dockerfile
Due: release-python

Use pyenv instead of direct install.
  python/Dockerfile
Due: release-python

Set global python version.
  python/Dockerfile
Due: release-python

Reports errors on rebase and always rebases develop/dev if no branch specified.
  common/rebase.sh
Due: build-common-master, release-common

Remove ssh key from rebase function.
  common/rebase.sh
Due: build-common-master, release-common

Recursively replaces all instances of localhost with pkg.go.dev.
  golang/godoc.sh
Due: release-golang

Remove exit 0 from create release script.
  common/create-release.sh
Due: build-common-master, release-common

Simplifies tagging and release of new images.
  .gitlab-ci.yml
  README.md
  common/Dockerfile
  common/release.sh
  common/version.sh
  golang/Dockerfile
  golang/gitlab-ci.example.yml
  node/Dockerfile
  node/gitlab-ci.example.yml
  node/release.sh
  python/Dockerfile
  python/configure-pip.sh
  python/gitlab-ci.example.yml
  release.sh
  scala/Dockerfile
  scala/gitlab-ci.example.yml
  scala/release.sh
Due: build-common-master, release-common

Fix multiline commands.
  .gitlab-ci.yml
Due: none

Fixes cache and directory in scala image and updates docs.
  README.md
  scala/Dockerfile
  scala/gitlab-ci.example.yml
Due: release-scala

Source utils in all scripts and fix release script.
  .gitlab-ci.yml
  common/bump.sh
  common/create-release.sh
  common/git-log.sh
  common/next-tag.sh
  common/parse-common-flags.sh
  common/previous-tag.sh
  common/rebase.sh
  common/release.sh
  common/setup-git.sh
  common/upload-files.sh
  common/version.sh
  golang/export-env.sh
  golang/godoc.sh
  golang/setup-go-private.sh
  node/export-env.sh
  node/version.sh
  python/configure-pip.sh
  python/export-env.sh
  python/release.sh
  python/version.sh
  python/write-version.sh
  scala/export-env.sh
  scala/version.sh
Due: build-common-master, release-common

Source in scripts so they can access env variables.
  .gitlab-ci.yml
Due: none

Try new method for multiline strings.
  .gitlab-ci.yml
Due: none

Fixes dockerfile paths.
  .gitlab-ci.yml
Due: none

Fix the conditions for the node build job.
  .gitlab-ci.yml
Due: none

Adds test jobs to ensure images build.
  .gitlab-ci.yml
Due: none

Use no-push flag on test jobs.
  .gitlab-ci.yml
Due: none

Remove readonly token and use ci job token for go get.
  golang/setup-go-private.sh
Due: release-golang

Path conditions:
  build-common-master: any of: common/*
  release-common: any of: common/*
  release-golang: (not (any of: common/*)) and (any of: golang/*)
  release-scala: (not (any of: common/*)) and (any of: scala/*)
  release-python: (not (any of: common/*)) and (any of: python/*)
  release-node: (not (any of: common/*)) and (any of: node/*)
