Repository ianwdunlop/ci-cd-versioning: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-common, build-common-master, release-common, build-golang, release-golang, build-scala, release-scala, build-python, release-python, build-node, release-node

build-common:
  stage: build-common
  tags:
  - wopr
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/common/Dockerfile --destination $CI_REGISTRY_IMAGE:common-$CI_COMMIT_REF_SLUG

build-common-master:
  stage: build-common
  tags:
  - wopr
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/common/Dockerfile --destination $CI_REGISTRY_IMAGE:common

release-common:
  stage: release
  tags:
  - wopr
  image: ubuntu:20.04
  script:
  - ./release.sh common --branches --rebase develop

build-golang:
  stage: build
  tags:
  - wopr
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/golang/Dockerfile --destination $CI_REGISTRY_IMAGE:golang-$CI_COMMIT_REF_SLUG

release-golang:
  stage: release
  tags:
  - wopr
  image: ubuntu:20.04
  script:
  - ./release.sh golang --branches --rebase develop

build-scala:
  stage: build
  tags:
  - wopr
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/scala/Dockerfile --destination $CI_REGISTRY_IMAGE:scala-$CI_COMMIT_REF_SLUG

release-scala:
  stage: release
  tags:
  - wopr
  image: ubuntu:20.04
  script:
  - ./release.sh scala --branches --rebase develop

build-python:
  stage: build
  tags:
  - wopr
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/python/Dockerfile --destination $CI_REGISTRY_IMAGE:python-$CI_COMMIT_REF_SLUG

release-python:
  stage: release
  tags:
  - wopr
  image: ubuntu:20.04
  script:
  - ./release.sh python --branches --rebase develop

build-node:
  stage: build
  tags:
  - wopr
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/node/Dockerfile --destination $CI_REGISTRY_IMAGE:node-$CI_COMMIT_REF_SLUG

release-node:
  stage: release
  tags:
  - wopr
  image: ubuntu:20.04
  script:
  - ./release.sh node --branches --rebase develop

Adds rules to stop tags from triggering the non-release builds.
  .gitlab-ci.yml
Due: none

Adds golangci-lint to golang image.
  golang/Dockerfile
Due: build-golang, release-golang

Adds file upload script, flag, and documentation.
  README.md
  common/Dockerfile
  common/bump.sh
  common/create-release.sh
  common/parse-common-flags.sh
  common/upload-files.sh
  golang/Dockerfile
Due: build-common, build-common-master, release-common, build-golang, build-scala, build-python, build-node

Removes changes in common as build trigger for language specific images.
  .gitlab-ci.yml
Due: none

Adds '--no-release' flag to abort release creation so it can be run on a tag instead.
  common/create-release.sh
  common/parse-common-flags.sh
Due: build-common, build-common-master, release-common, build-golang, build-scala, build-python, build-node

Removes release process. Just build on git tag.
  .gitlab-ci.yml
  release.sh
Due: none

Fixes argument validation in upload-files.sh
  common/upload-files.sh
Due: build-common, build-common-master, release-common, build-golang, build-scala, build-python, build-node

Fixes typo in file upload script.
  common/upload-files.sh
Due: build-common, build-common-master, release-common, build-golang, build-scala, build-python, build-node

Adds functionality to set up git for go get operations against private packages.
  golang/setup-go-private.sh
Due: build-golang, release-golang

Updates scripts to use predefined environment variables wherever possible.
  common/create-release.sh
  common/setup-git.sh
  common/upload-files.sh
  golang/setup-go-private.sh
Due: build-common, build-common-master, release-common, build-golang, build-scala, build-python, build-node

Updates README.
  README.md
Due: none

Re adds releases - but will build against tags locally.
  .gitlab-ci.yml
  common/bump.sh
  common/create-release.sh
  common/git-log.sh
  common/next-tag.sh
  common/previous-tag.sh
  common/rebase.sh
  common/setup-git.sh
  common/upload-files.sh
  common/utils.sh
  golang/setup-go-private.sh
  golang/version.sh
  node/version.sh
  python/version.sh
  python/write-version.sh
  release.sh
  scala/version.sh
Due: build-common, build-common-master, release-common, build-golang, build-scala, build-python, build-node

Makes release script executable.
  common/bump.sh
  common/create-release.sh
  common/git-log.sh
  common/next-tag.sh
  common/parse-common-flags.sh
  common/previous-tag.sh
  common/rebase.sh
  common/setup-git.sh
  common/upload-files.sh
  common/utils.sh
  golang/export-env.sh
  golang/release.sh
  golang/setup-go-private.sh
  golang/version.sh
  node/export-env.sh
  node/release.sh
  node/version.sh
  python/export-env.sh
  python/release.sh
  python/version.sh
  python/write-version.sh
  release.sh
  scala/export-env.sh
  scala/release.sh
  scala/version.sh
Due: build-common, build-common-master, release-common, build-golang, build-scala, build-python, build-node

Re adds release process - try building images on default runner.
  .gitlab-ci.yml
  common/bump.sh
  release.sh
Due: build-common, build-common-master, release-common, build-golang, build-scala, build-python, build-node

Stops sourcing 'create-release' in release script to stop early exit.
  common/bump.sh
  release.sh
Due: build-common, build-common-master, release-common, build-golang, build-scala, build-python, build-node

Retries failed releases.
  common/bump.sh
  release.sh
Due: build-common, build-common-master, release-common, build-golang, build-scala, build-python, build-node

Change name of release result and echo it properly.
  release.sh
Due: none

Adds python dependency to node image.
  node/Dockerfile
Due: build-node, release-node

Moves chromium install and adds make.
  node/Dockerfile
Due: build-node, release-node

Path conditions:
  build-common: any of: common/*
  build-common-master: any of: common/*
  release-common: any of: common/*
  build-golang: any of: golang/*, common/*
  release-golang: (any of: golang/*) and (not (any of: common/*))
  build-scala: any of: scala/*, common/*
  release-scala: (any of: scala/*) and (not (any of: common/*))
  build-python: any of: python/*, common/*
  release-python: (any of: python/*) and (not (any of: common/*))
  build-node: any of: node/*, common/*
  release-node: (any of: node/*) and (not (any of: common/*))
