Repository ianwdunlop/ci-cd-versioning: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-common-master, release-common, release-golang, release-scala, release-python, release-node

build-common-master:
  stage: build-common
  script:
  - docker build --pull -f common/Dockerfile -t "$CI_REGISTRY_IMAGE:common" .
  - docker push "$CI_REGISTRY_IMAGE:common"

release-common:
  stage: release
  image: ubuntu:18.04
  before_script:
  - ''
  script:
  - ./release.sh common

release-golang:
  stage: release
  image: ubuntu:18.04
  before_script:
  - ''
  script:
  - ./release.sh golang

release-scala:
  stage: release
  image: ubuntu:18.04
  before_script:
  - ''
  script:
  - ./release.sh scala

release-python:
  stage: release
  image: ubuntu:18.04
  before_script:
  - ''
  script:
  - ./release.sh python

release-node:
  stage: release
  image: ubuntu:18.04
  before_script:
  - ''
  script:
  - ./release.sh node

Updates node image with further dependencies.
  node/Dockerfile
Due: release-node

Adds build-essential.
  common/Dockerfile
  node/Dockerfile
Due: build-common-master, release-common

Fixes invokation of 'upload-files.sh' in 'create-release.sh'.
  common/create-release.sh
Due: build-common-master, release-common

Adds script to generate static godoc.
  golang/godoc.sh
Due: release-golang

Adds wget to common and go tools to golang image.
  common/Dockerfile
  golang/Dockerfile
Due: build-common-master, release-common

Ignores versioning strategy and returns bump for any found prefix.
  common/bump.sh
Due: build-common-master, release-common

Start versioning at 0.0.1.
  common/next-tag.sh
Due: build-common-master, release-common

Adds warning messages to versioning strategy flags.
  common/parse-common-flags.sh
Due: build-common-master, release-common

Stops ignoring errors on rebase failure.
  common/rebase.sh
Due: build-common-master, release-common

Changes git setup to use tokens instead of API keys and gets ready for project api tokens.
  README.md
  common/create-release.sh
  common/rebase.sh
  common/setup-git.sh
  common/upload-files.sh
  golang/setup-go-private.sh
  golang/version.sh
  node/version.sh
  python/version.sh
  scala/version.sh
Due: build-common-master, release-common

Changes git setup to use tokens instead of ssh keys and gets ready for project api tokens.
  README.md
  common/create-release.sh
  common/rebase.sh
  common/setup-git.sh
  common/upload-files.sh
  golang/setup-go-private.sh
  golang/version.sh
  node/version.sh
  python/version.sh
  scala/version.sh
Due: build-common-master, release-common

Removes versioning strategy from readme.
  README.md
  common/parse-common-flags.sh
Due: build-common-master, release-common

Removes refresh of rebase branch.
  common/rebase.sh
Due: build-common-master, release-common

Sources rebase script into release so that errors are handled appropriately.
  golang/release.sh
  node/release.sh
  python/release.sh
  scala/release.sh
Due: release-golang, release-scala, release-python, release-node

Adds git lfs.
  common/Dockerfile
Due: build-common-master, release-common

Path conditions:
  build-common-master: any of: common/*
  release-common: any of: common/*
  release-golang: (not (any of: common/*)) and (any of: golang/*)
  release-scala: (not (any of: common/*)) and (any of: scala/*)
  release-python: (not (any of: common/*)) and (any of: python/*)
  release-node: (not (any of: common/*)) and (any of: node/*)
