Repository ianwdunlop/ci-cd-versioning: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-common, build-golang, build-scala, build-python

.gitlab-ci.yml:

stages:
  - build-common
  - build

default:
  before_script:
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json

build-common:
  stage: build-common
  tags:
    - wopr
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  script:
    - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/common/Dockerfile --destination $CI_REGISTRY_IMAGE:common
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
      changes:
        - common/*

build-golang:
  stage: build
  tags:
    - wopr
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  script:
    - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/golang/Dockerfile --destination $CI_REGISTRY_IMAGE:golang
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
      changes:
        - golang/*
        - common/*

build-scala:
  stage: build
  tags:
    - wopr
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  script:
    - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/scala/Dockerfile --destination $CI_REGISTRY_IMAGE:scala
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
      changes:
        - scala/*
        - common/*

build-python:
  stage: build
  tags:
    - wopr
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  script:
    - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/python/Dockerfile --destination $CI_REGISTRY_IMAGE:python
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
      changes:
        - python/*
        - common/*

Renames base image to account for new registry.
  golang/Dockerfile
  python/Dockerfile
  scala/Dockerfile
Due: build-golang, build-scala, build-python

Adds node image with chrome.
  node/Dockerfile
  node/export-env.sh
  node/release.sh
  node/version.sh
Due: none

Adds node build stage.
  .gitlab-ci.yml
Due: none

Removes '.' separator between patch and alpha in pythons next version.
  python/export-env.sh
Due: build-python

Pre installs wheel and twine to the image.
  python/Dockerfile
Due: build-python

Adds image tagging, command line argument parsing, optional rebase, and improves error handling.
  .gitlab-ci.yml
  README.md
  common/bump.sh
  common/git-log.sh
  common/next-tag.sh
  common/parse-common-flags.sh
  common/rebase.sh
  common/setup-git.sh
  common/utils.sh
  golang/export-env.sh
  golang/gitlab-ci.example.yml
  golang/release.sh
  golang/version.sh
  node/export-env.sh
  node/gitlab-ci.example.yml
  node/release.sh
  node/version.sh
  python/export-env.sh
  python/gitlab-ci.example.yml
  python/release.sh
  python/version.sh
  python/write-version.sh
  scala/export-env.sh
  scala/gitlab-ci.example.yml
  scala/release.sh
Due: build-common, build-golang, build-scala, build-python

Adds automated versioned release for the images.
  .gitlab-ci.yml
  release.sh
Due: none

Use only/except instead of rules.
  .gitlab-ci.yml
Due: none

Fixes chrome install failure.
  node/Dockerfile
Due: none

Converts all rules to only/except.
  .gitlab-ci.yml
Due: none

Changes child images to depend on common-develop - must revert this.
  golang/Dockerfile
  node/Dockerfile
  python/Dockerfile
  scala/Dockerfile
Due: build-golang, build-scala, build-python

Removes sourcing of rebase script and moves execution to the end of release.sh.
  golang/release.sh
  node/release.sh
  python/release.sh
  scala/release.sh
Due: build-golang, build-scala, build-python

Handles error from npm version subcommand.
  node/version.sh
Due: none

Create releases for all tags on a common release.
  release.sh
Due: none

Handles errors differently in rebase script.
  common/rebase.sh
Due: build-common, build-golang, build-scala, build-python

Rebase all images from ubuntu 18.04.
  common/Dockerfile
  node/Dockerfile
Due: build-common, build-golang, build-scala, build-python

Rewrites scala dockerfile for manual download and install of openjdk-14.
  scala/Dockerfile
Due: build-scala

Fixes image base name.
  scala/Dockerfile
Due: build-scala

Deletes local rebase branch to ensure a frech pull from remote.
  common/rebase.sh
Due: build-common, build-golang, build-scala, build-python

Changes image used in release stages.
  .gitlab-ci.yml
Due: none

Re-orders release process in readme.
  README.md
Due: none

Adds link to semver specification.
  README.md
Due: none

Reverts changes to rebase script.
  common/rebase.sh
Due: build-common, build-golang, build-scala, build-python

Delete and fetch remote branch.
  common/rebase.sh
Due: build-common, build-golang, build-scala, build-python

Checks out branch after fetching.
  common/rebase.sh
Due: build-common, build-golang, build-scala, build-python

Removes develop slug from base images.
  golang/Dockerfile
  node/Dockerfile
  python/Dockerfile
  scala/Dockerfile
Due: build-golang, build-scala, build-python

Makes arbitrary change to file in common to ensure it's release stage is run.
  common/Dockerfile
Due: build-common, build-golang, build-scala, build-python

Overrides before_script in release jobs and moves kaniko image to default.
  .gitlab-ci.yml
  common/Dockerfile
Due: build-common, build-golang, build-scala, build-python

Reverts CI file to use rules and fixes release script.
  .gitlab-ci.yml
  golang/Dockerfile
  release.sh
Due: build-golang

Double check CI file and re run.
  .gitlab-ci.yml
  common/Dockerfile
Due: build-common, build-golang, build-scala, build-python
